<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Everheal</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>2.0.8</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>232</string>
		<key>CodePushDeploymentKey</key>
		<string>$(CODE_PUSH_KEY)</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>tez</string>
			<string>phonepe</string>
			<string>paytm</string>
			<string>gpay</string>
			 <string>itms-apps</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAdvertisingAttributionReportEndpoint</key>
		<string>https://appsflyer-skadnetwork.com/</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>everheal.com</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSAppleMusicUsageDescription</key>
		<string>Everheal needs access to use your media</string>
		<key>NSCameraUsageDescription</key>
		<string>Everheal wants to use your camera to be able to send photos to your care team</string>
		<key>NSContactsUsageDescription</key>
		<string>Everheal wants to use your contacts</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>Everheal wants to use your local network</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Everheal wants to access your microphone</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Everheal wants to access your photo library to be able to save photos</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Everheal wants to access your photo library to be able to send photos to your care team</string>
		<key>NSRemindersUsageDescription</key>
		<string>Everheal wants to access your reminders</string>
		<key>NSSpeechRecognitionUsageDescription</key>
        <string>Everheal wants to use speech recognition</string>
		<key>UIAppFonts</key>
		<array>
			<string>DMSans-Bold.ttf</string>
			<string>DMSans-BoldItalic.ttf</string>
			<string>DMSans-Italic.ttf</string>
			<string>DMSans-Medium.ttf</string>
			<string>DMSans-MediumItalic.ttf</string>
			<string>DMSans-Regular.ttf</string>
			<string>PlusJakartaSans-Bold.ttf</string>
			<string>PlusJakartaSans-BoldItalic.ttf</string>
			<string>PlusJakartaSans-ExtraBold.ttf</string>
			<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
			<string>PlusJakartaSans-ExtraLight.ttf</string>
			<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
			<string>PlusJakartaSans-Italic-VariableFont_wght.ttf</string>
			<string>PlusJakartaSans-Italic.ttf</string>
			<string>PlusJakartaSans-Light.ttf</string>
			<string>PlusJakartaSans-LightItalic.ttf</string>
			<string>PlusJakartaSans-Medium.ttf</string>
			<string>PlusJakartaSans-MediumItalic.ttf</string>
			<string>PlusJakartaSans-Regular.ttf</string>
			<string>PlusJakartaSans-SemiBold.ttf</string>
			<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
			<string>PlusJakartaSans-VariableFont_wght.ttf</string>
			<string>AntDesign.ttf</string>
			<string>Entypo.ttf</string>
			<string>EvilIcons.ttf</string>
			<string>Feather.ttf</string>
			<string>FontAwesome.ttf</string>
			<string>FontAwesome5_Brands.ttf</string>
			<string>FontAwesome5_Regular.ttf</string>
			<string>FontAwesome5_Solid.ttf</string>
			<string>FontAwesome6_Brands.ttf</string>
			<string>FontAwesome6_Regular.ttf</string>
			<string>FontAwesome6_Solid.ttf</string>
			<string>Fontisto.ttf</string>
			<string>Foundation.ttf</string>
			<string>Ionicons.ttf</string>
			<string>MaterialCommunityIcons.ttf</string>
			<string>MaterialIcons.ttf</string>
			<string>Octicons.ttf</string>
			<string>SimpleLineIcons.ttf</string>
			<string>Zocial.ttf</string>
			<string>BerkshireSwash-Regular.ttf</string>
			<string>Cookie-Regular.ttf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>processing</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>BootSplash.storyboard</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>everheal</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
